__pycache__/

.idea/

network/__pycache__/
network/checkpoint/ResNet34/
network/checkpoint/ResNeXt50/

dataset/mapping_table
dataset/raw/train
dataset/raw/validate
dataset/raw/test
dataset/raw/train.txt
dataset/raw/validate.txt
dataset/raw/test.txt
dataset/sampled/train
dataset/sampled/validate
dataset/sampled/test
dataset/preprocessing/train
dataset/preprocessing/validate
dataset/preprocessing/test

